.question-one {
  border: 1px solid red;
}

.question-two {
  border: 1px solid green;
  }

.question-three {
  border: 1px solid blue;
  margin: 0px 11px;
}

.question-four {
  border: 1px dotted black;
  padding: 10px 10px 10px 10px;
  
}

.question-five {
  border: 5px double black;
  border-width: 10px;
}

.question-six {}
