.question-one {
  border: 1px solid red;
}

.question-two {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  justify-content: space-between;
  flex-shrink: 
}

.question-three {}

.question-four {}

.question-five {}

.question-six {}
