.question-one {
  border: 1px solid red;
}

.question-two {
  border: 1px solid green;
  }

.question-three {
  border: 1px solid blue;
  margin: 0px 11px;
}

.question-four {
  border: 1px dotted black;
  padding: 20px 5px 20px 5px;
  
}

.question-five {}

.question-six {}
